*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  border: none;
  vertical-align: bottom;
}

body {
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.1em;
}

.container {
  text-align: center;
  padding: 0 15px;
}

.header {
  position: relative;
  height: 60px;
  line-height: 60px;
  z-index: 10;
}

.header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #3B4675;
}

.nav {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

.nav__item {
  font-weight: bold;
}
