*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

.fa-twitter {
  color: #00acee;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #1877f2;
}

.fa-sass {
  color: #f06292;
}

.fa-external-link-alt {
  color: #ffffff;
}

.links .fa-github {
  color: #ffffff;
}

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #231815;
  line-height: 2;
  letter-spacing: 0.1em;
}

section {
  padding: 100px 0;
}

.container {
  padding: 0 15px;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 1em;
}

.sub-title {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #da2c3f;
}

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
  background: url(../img/main-visual.jpg) no-repeat center/cover;
}

.fv::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.fv__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #053a7a;
}

.nav {
  padding: 0 5vw;
}

@media (min-width: 768px) {
  .nav {
    width: 600px;
    padding: 0;
    margin: 0 auto;
  }
}

.nav__list {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item {
  font-weight: bold;
}

.nav__item a {
  position: relative;
  color: #ffffff;
  font-weight: bold;
}

.nav__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

.nav__item a:hover::after {
  content: "";
  transform: scale(1, 1);
}

@media (min-width: 992px) {
  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.profile__img {
  width: 80%;
}

@media (min-width: 768px) {
  .profile__img {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .profile__img {
    width: 35%;
  }
}

.profile__list {
  text-align: justify;
  width: 75%;
  margin: 50px auto;
}

@media (min-width: 992px) {
  .profile__list {
    width: 55%;
    margin: 0;
  }
}

.profile__item {
  list-style: disc;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}

.blog-link {
  color: #da2c3f;
  text-decoration: underline;
}

.blog-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.fab {
  vertical-align: middle;
}

.skill,
.blog {
  background-color: #f7f7f7;
}

.skill__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.skill__item {
  width: 50%;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .skill__item {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .skill__item:nth-child(n + 5) {
    margin-bottom: 0;
  }
}

.skill__item:nth-child(n + 6) {
  margin-bottom: 0;
}

.work__list {
  margin-top: 60px;
}

@media (min-width: 992px) {
  .work__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.work__item {
  width: 100%;
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  .work__item {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .work__item {
    width: 30%;
  }
}

.work__item img {
  transition: box-shadow 0.5s, transform 0.5s;
}

.work__item img:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.work__name {
  font-size: 18px;
  margin-top: 0.5em;
  font-weight: bold;
}

@media (min-width: 768px) {
  .blog-img {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .blog-img {
    width: 70%;
  }
}

.description {
  margin: 2em 0;
  text-align: justify;
}

@media (min-width: 768px) {
  .description {
    width: 80%;
    margin: 2em auto 0;
  }
}

@media (min-width: 1200px) {
  .description {
    width: 60%;
  }
}

.btn {
  display: inline-block;
  margin-top: 2.5em;
  padding: 15px 70px;
  border-radius: 40px;
  color: #ffffff;
  text-align: center;
}

.red {
  background: #da2c3f;
}

.btn:hover {
  opacity: 0.6;
}

.fa-external-link-alt {
  margin-left: 0.3em;
}

.footer {
  background: #053a7a;
  padding: 30px 0 0;
  text-align: center;
}

.small {
  color: #ffffff;
}
