@import "breakpoints";

// @mixin container($width: sp) {
//   text-align: center;
//   @if $width == md {
//     max-width: $mdWidth;
//     margin: 0 auto;
//   } @else if $width == lg {
//     max-width: $lgWidth;
//     margin: 0 auto;
//   } @else if $width == xl {
//     max-width: $xlWidth;
//     margin: 0 auto;
//   } @else {
//     padding: 0 15px;
//   }
// }

@mixin container {

  padding: 0 15px;
  text-align: center;

  @include breakPoint($md) {
    max-width: $md;
    padding: 0;
    margin: 0 auto;
  }

  @include breakPoint($lg) {
    max-width: $lg;
  }

  @include breakPoint($xl) {
    max-width: $xl;
  }

}