$mdWidth: 720px;
$lgWidth: 960px;
$xlWidth: 1200px;

@mixin container($width: sp) {
  text-align: center;
  @if $width == md {
    max-width: $mdWidth;
    margin: 0 auto;
  } @else if $width == lg {
    max-width: $lgWidth;
    margin: 0 auto;
  } @else if $width == xl {
    max-width: $xlWidth;
    margin: 0 auto;
  } @else {
    padding: 0 15px;
  }
}
