// アイコンのカラー設定

.fa-twitter {
  color: #00acee;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #1877f2;
}

.fa-sass {
  color: #f06292;
}

.fa-external-link-alt {
  color: #ffffff;
}

.links .fa-github {
  color: #ffffff;
}
