// 共通で使うflexboxのスタイル
$flexWrap: true;

@mixin flexBox($flexWrap: false) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @if $flexWrap {
    flex-wrap: wrap;
  }
}

// セクションのタイトルのスタイル
@mixin sectionTitle {
  font-size: 48px;
  color: #333333;
  font-weight: bold;
  margin-bottom: 1em;
}

@mixin subTitle($content) {
  content: $content;
  display: block;
  font-size: 18px;
  color: $colorRed;
  font-weight: bold;
}

@mixin btn {
  margin-top: 2.5em;
  padding: 15px 70px;
  border-radius: 40px;
  color: #ffffff;
  text-align: center;
}
