// 共通で使うflexboxのスタイル
$flexWrap: true;

@mixin flexBox($flexWrap: false) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @if $flexWrap {
    flex-wrap: wrap;
  }
}

// セクションのタイトルのスタイル