@import "breakpoints";

// 共通で使うflexboxのスタイル
$flexWrap: true;

@mixin flexBox($flexWrap: false) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @if $flexWrap {
    flex-wrap: wrap;
  }
}

// セクションのタイトルのスタイル
@mixin sectionTitle {
  font-weight: bold;

   // スマホ
  font-size: 24px;

  // タブレット
  @include breakPoint($md) {
    font-size: 32px;
  }

  // タブレット大・ノートPC
  @include breakPoint($lg) {
    font-size: 48px;
  }
}

// サブタイトルのスタイル
@mixin subTitle {
  display: block;
  font-weight: bold;
  color: $colorYellow;
  font-size: 16px;
}