@import "reset";
@import "variable";
@import "breakpoints";
@import "container";
@import "icon-color";
@import "mixin";

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #333333;
  letter-spacing: 0.1em;
}

section {
  padding: 100px 0;
}

.container {
  @include container();
}

.section-title {
  @include sectionTitle();
}

.sub-title {
  @include subTitle();
}

.header {
  height: 60px;
  line-height: 60px;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $colorBlue;
  z-index: 10;
}

.nav {
  padding: 0 5vw;
  @include breakPoint($md) {
    width: 600px;
    padding: 0;
    margin: 0 auto;
  }
}

.nav__list {
  color: #ffffff;
  @include flexBox();
}

.nav__item {
  font-weight: bold;
}

.nav__item a {
  position: relative;
  color: #ffffff;
  font-weight: bold;
}

.nav__item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #ffffff;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

.nav__item a:hover::after {
  content: "";
  transform: scale(1, 1);
}

.profile {
  @include breakPoint($lg) {
    @include flexBox();
  }
}

.profile__img {
  width: 80%;
  @include breakPoint($md) {
    width: 40%;
  }
  @include breakPoint($lg) {
    width: 35%;
  }
}

.profile__list {
  text-align: justify;
  width: 75%;
  margin: 50px auto;
  @include breakPoint($lg) {
    width: 55%;
    margin: 0;
  }
}

.profile__item {
  list-style: disc;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}

.blog-link {
  color: $colorYellow;
  text-decoration: underline;
}

.blog-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.fab {
  vertical-align: middle;
}

.skill {
  background-color: $colorOffWhite;
}

.skill__list {
  @include flexBox($flexWrap);
  margin-top: 60px;
}

.skill__item {
  width: 50%;
  @include breakPoint($md) {
    width: 25%;
  }
  margin-bottom: 50px;
}

.skill__item:nth-child(n + 5) {
  @include breakPoint($md) {
    margin-bottom: 0;
  }
}

.skill__item:nth-child(n + 6) {
  margin-bottom: 0;
}

.work__list {
  @include breakPoint($lg) {
    @include flexBox($flexWrap);
  }
}

.work__item {
  width: 30%;
}