@import "reset";
@import "variable";
@import "breakpoints";
@import "container";
@import "icon-color";
@import "mixin";

body {
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: #231815;
  line-height: 2;
  letter-spacing: 0.1em;
}

section {
  padding: 100px 0;
}

.container {
  @include container();
}

.section-title {
  @include sectionTitle();
}

.sub-title {
  @include subTitle();
}

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/main-visual.jpg) no-repeat center/cover;
}

.fv::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
}

.fv__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: $colorBlue;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav {
  padding: 0 5vw;
  @include breakPoint($md) {
    width: 600px;
    padding: 0;
    margin: 0 auto;
  }
}

.nav__list {
  color: #ffffff;
  @include flexBox();
}

.nav__item {
  font-weight: bold;

  & a {
    position: relative;
    color: #ffffff;
    font-weight: bold;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 3px;
      background: #ffffff;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform 0.3s;
    }

    &:hover::after {
      content: "";
      transform: scale(1, 1);
    }
  }
}

.profile {
  @include breakPoint($lg) {
    @include flexBox();
  }
}

.profile__img {
  width: 80%;
  @include breakPoint($md) {
    width: 40%;
  }
  @include breakPoint($lg) {
    width: 35%;
  }
}

.profile__list {
  text-align: justify;
  width: 75%;
  margin: 50px auto;
  @include breakPoint($lg) {
    width: 55%;
    margin: 0;
  }
}

.profile__item {
  list-style: disc;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 1em;
}

.blog-link {
  color: $colorRed;
  text-decoration: underline;
}

.blog-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.fab {
  vertical-align: middle;
}

.skill,
.blog {
  background-color: $colorOffWhite;
}

.skill__list {
  @include flexBox($flexWrap);
  margin-top: 60px;
}

.skill__item {
  width: 50%;
  @include breakPoint($md) {
    width: 25%;
  }
  margin-bottom: 50px;
}

.skill__item:nth-child(n + 5) {
  @include breakPoint($md) {
    margin-bottom: 0;
  }
}

.skill__item:nth-child(n + 6) {
  margin-bottom: 0;
}

.work__list {
  @include breakPoint($lg) {
    @include flexBox($flexWrap);
  }
  margin-top: 60px;
}

.work__item {
  @include breakPoint($lg) {
    width: 45%;
  }
  @include breakPoint($xl) {
    width: 30%;
  }
  width: 100%;
  margin-bottom: 60px;
}

.work__item img {
  transition: box-shadow 0.5s, transform 0.5s;
}

.work__item img:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.work__name {
  font-size: 18px;
  margin-top: 0.5em;
  font-weight: bold;
}

.blog-img {
  @include breakPoint($md) {
    width: 90%;
  }
  @include breakPoint($xl) {
    width: 70%;
  }
}

.description {
  @include breakPoint($md) {
    width: 80%;
    margin: 2em auto 0;
  }
  @include breakPoint($xl) {
    width: 60%;
  }
  margin: 2em 0;
  text-align: justify;
}

.btn {
  @include btn();
}

.red {
  background: $colorRed;
}

.btn:hover {
  opacity: 0.6;
}

.fa-external-link-alt {
  margin-left: 0.3em;
}

.footer {
  background: $colorBlue;
  padding: 30px 0 0;
  text-align: center;
}

.small {
  color: #ffffff;
}

.work-movie {
  width: 100%;
  height: auto;
  @include breakPoint($md) {
    width: 85%;
  }
}

.work-caption {
  margin: 1.5em 0;
}

.work-link {
  color: $colorRed;
  text-decoration: underline;
}

.work-language {
  font-size: 18px;
  font-weight: 500;
}

.work-contents {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
