@import "reset";
@import "variable";
@import "breakpoints";
@import "container";
@import "mixin";

body {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.1em;
}

.container {
    @include container();
}

.header {
    position: relative;
    background: $colorBlue;
    height: 60px;
    line-height: 60px;
}

.header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.nav {
    color: #ffffff;
    @include flexBox();
    padding: 0 5vw;
} 

.nav__item {
    font-weight: bold;
}