@import "reset";
@import "variable";
@import "breakpoints";
@import "container";
@import "mixin";

.work-movie {
  width: 100%;
  height: auto;
  @include breakPoint($md) {
    width: 85%;
  }
}

.work-caption {
  margin: 1.5em 0;
}

.work-link a {
  color: $colorRed;
  text-decoration: underline;
}

.work-link:hover {
  opacity: 0.6;
  text-decoration: none;
}

.work-language {
  font-size: 18px;
  font-weight: 500;
}

.work-contents {
  text-align: justify;
  margin-bottom: 40px;
  @include breakPoint($md) {
    width: 80%;
    margin: 0 auto 60px;
  }
}

.work-title {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  position: relative;
}

.work-title::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 22%;
  left: 0;
  width: 5px;
  height: 55%;
  background: $colorBlue;
}

.work-link .fa-external-link-alt {
  color: $colorRed;
}
