@import "variable";

// セクションのタイトルのスタイル
@mixin sectionTitle {
    font-size: 48px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  @mixin subTitle($content) {
    content: $content;
    display: block;
    font-size: 18px;
    color: $colorRed;
    font-weight: bold;
  }